body {
    margin: 0;
    overflow: hidden;
    /*background: linear-gradient(rgb(39, 236, 39), rgb(0, 153, 0));
    height: 100vh;*/
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#game {
    background: linear-gradient(rgb(20, 175, 20), rgb(0, 153, 0));
}

span {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


/*
#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*/